<!--script onclick de envio automatico de mail of news-->
<article style="text-align: center;">
    <h3>Contacto</h3>
    <p> <input type="text" placeholder="Nombre" /></p>
    <p> <input type="text" placeholder="Mail"/></p>
    <textarea placeholder="Escribe aquí tu consulta" rows="10" cols="60"></textarea>
    <div><input type="button" value="Envianos tu consulta"/></div>
    
</article>
