
<head>
    <meta charset="UTF-8">
</head>
<p>
<input type="text" placeholder="usuario">
<input type="password" placeholder="contraseña">
<input type="submit" value="entrar">
</p>
<a href="#" onclick="Asincrono.consultar('registro.html');">todavía no estás registrado? Pulsa Aquí</a>